<!DOCTYPE html>
<!-- ng-app is an angular directive telling the browser to run the module in app.js when the document loads. -->
<html ng-app="store">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="js/app.js"></script>

    <title></title>
</head>
<body>
    <!-- ng-controller is an angular directive, binding the functions and data stored in a controller to html elements-->
    <div ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.product">
                <div ng-hide="product.soldOut">
                    <h3> {{product.name}}
                        <em class="pull-right">
                        <!-- currency is a filter that price is piped through. the number is formatted to the localized currency  -->
                        {{product.price | currency}}</em>
                    </h3>
                    <!-- <p> {{product.description}} </p> -->
                    <div>
                        <img ng-src="{{product.images[0].full}}"/>
                    </div>
                    <button ng-show="product.canPurchase"> Add to Cart </button>
                </div>

                <!-- ng-init allows us to evaluate an expression in the current scope -->
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <!-- ng-class takes an object. the key is the value of the class if the following expression evaluates to true   -->
                        <li ng-class="{ active: panel.isSelected(1) }">
                            <a href="" ng-click="panel.setTab(1)">Description</a>
                        </li>
                        <li ng-class="{ active: panel.isSelected(2) }">
                            <a href="" ng-click="panel.setTab(2)">Specification</a>
                        </li>
                        <li ng-class="{ active: panel.isSelected(3) }">
                            <a href="" ng-click="panel.setTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specification</h4>
                        <blockquote>None yet</blockquote>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <blockquote>None yet</blockquote>
                    </div>
                </section>

            </li>
        </ul>
    </div>

</body>
</html>